{% extends "base.html" %}

{% block titleblock %}
  <title>{{ file_name }} Script Parameters Form</title>
{% endblock titleblock %}

{% block content %}
  <h3> {{ file_name }} Script Parameters Form</h3>
  <hr />
  <form method='POST'>
    {% csrf_token %}
    <div class="form-group col-md-5">
      <label for="ip_addresss">Target IP Address</label>
      <input type="text" name="ip_address" id="ip_address" value="{{ip_addr}}" class="form-control" disabled />
      <hr />
      {% for field,type in list_fields %}
      <label for="{{ field }}">{{ field }}</label>
      <input type="{{ type }}" name="{{ field }}" id="{{ field }}" class="form-control" />
      {% endfor %}
      <br />
      <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
  </form>
{% endblock content %}
